<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="{{navBarActive == 'home' ? 'active' : '' }}"><a ng-href="#/home">Home</a></li>
        <li class="{{navBarActive == 'about' ? 'active' : '' }}"><a ng-href="#/about">About</a></li>
        <li class="{{navBarActive == 'contact' ? 'active' : '' }}"><a ng-href="#/contact">Contact</a></li>
    </ul>
    <h3 class="text-muted">From the makers of <a href="//clickfree.com"><img src="images/logo-clickfree.png"></a></h3>
</div>