<div class="header row">
    <div class="col-sm-3 col-md-3 col-lg-2 col-xs-12 logo hidden-xs">
        <img src="images/logo.png" /> <img src="images/kooboodle.png" />
    </div>

    <ul class="nav nav-pills pull-right">
        <li class="{{navBarActive == 'home' ? 'active' : '' }}"><a ng-href="#/home">Home</a></li>
        <li class="{{navBarActive == 'about' ? 'active' : '' }}"><a ng-href="#/about">About</a></li>
        <li class="{{navBarActive == 'contact' ? 'active' : '' }}"><a ng-href="#/contact">Contact</a></li>
    </ul>

</div>