<div class="navbar-fixed-top container header">
    <div class="row">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle nx-action-toolbar-toogle" data-toggle="collapse" data-target=".navbar-collapse-action-toolbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
            <button ng-if="logoVisible" type="button" class="navbar-toggle nx-menu-toogle logo visible-xs collapsed" data-toggle="collapse" data-target=".navbar-collapse-menu-toggle">
                <img src="images/logo.png" />
                <div class="icon-bar-container">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <a ng-click="goBack(backVisible)" ng-if="backVisible" class="nx-nav-button visible-xs">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse-action-toolbar">

            <ul ng-if="logoVisible || backVisible" class="nav navbar-nav col-sm-3 col-md-3 col-lg-2 col-xs-12 hidden-xs">
                <li ng-if="logoVisible" class="logo">
                    <img src="images/logo.png" /> <img src="images/kooboodle.png" />
                </li>
                <li ng-if="backVisible">
                    <a ng-click="goBack(backVisible)" ng-if="backVisible"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                </li>
            </ul>


            <ul class="nav navbar-nav">
                <li ng-if="titleVisible" class="navbar-text title">{{titleVisible}}</li>
                <li ng-if="sortVisible" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Sort by <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Sharing Suggestions</a></li>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Not Shared</a></li>
                        <li><a href="#">Not Uploaded</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Date Taken</a></li>
                        <li><a href="#">Date Added</a></li>
                        <li><a href="#">Alphabetically</a></li>
                        <li><a href="#">Number of Photos</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Ascending</a></li>
                        <li><a href="#">Descending</a></li>
                    </ul>
                </li>
                <li ng-if="shareVisible">
                    <a ng-click="btnClick('share')">
                        <span class="glyphicon glyphicon-share-alt"></span> Share
                    </a>
                </li>
                <li ng-if="viewVisible" class="{{selectedMnt != 1 ? 'disabled' : ''}}">
                    <a ng-click="view()">
                        <span class="glyphicon glyphicon-eye-open"></span> View
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="selectVisible && selectedFromTotal > 0" class="navbar-text hidden-xs">Selected {{selectedMnt || 0}}/{{selectedFromTotal}}</li>
                <li ng-if="selectVisible"><a ng-click="deselectAll()" class="navbar-link">Deselect All</a></li>
                <li ng-if="selectVisible"><a ng-click="selectAll()" class="navbar-link">Select All</a></li>

                <li ng-if="cancelVisible">
                    &nbsp;&nbsp;&nbsp;
                    <button ng-click="goBack(cancelVisible)" type="button" class="navbar-btn btn btn-default">
                        {{mainActionTitleVisible || 'Cancel'}}
                    </button>
                </li>
                <li ng-if="sendVisible">
                    &nbsp;&nbsp;&nbsp;
                    <nx-ajax-button data-btn-class="'navbar-btn btn btn-primary'" data-on-click="sendBtnAction()" data-control="sendBtnControl">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </nx-ajax-button>
                </li>

                <li ng-if="refreshVisible">
                    <a ng-click="btnClick('refresh')" ><span class="glyphicon glyphicon-refresh"></span></a>
                    <span ng-transclude></span>
                </li>
                <li ng-if="helpVisible">
                    <a ng-click="help()" ><span class="glyphicon glyphicon-question-sign"></span></a>
                    <span ng-transclude></span>
                </li>
                <li ng-if="logoutVisible">
                    <a ng-click="openSignInModal()">
                        <span class="glyphicon glyphicon-log-out hidden-xs"></span>
                        <span class="visible-xs">Logout</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>