<div class="navbar-fixed-top container header">
    <div class="row">
        <ul class="nav navbar-nav col-sm-3 col-md-3 col-lg-2 col-xs-12 hidden-xs">
            <li ng-if="isLogoVisible" class="logo">
                <img src="images/logo.png" /> <img src="images/kooboodle.png" />
            </li>
            <li>
                <a ng-click="goBack()" ng-if="isBackVisible"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
            </li>
        </ul>

        <button type="button" class="btn btn-default navbar-btn dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Sort by <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-share-alt"></span>
            Share
        </button>
        <button type="button" class="btn btn-default navbar-btn">
            <span class="glyphicon glyphicon-eye-open"></span>
            View
        </button>

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="selectedFromTotal > 0" class="navbar-text">Selected {{selectedMnt || 0}}/{{selectedFromTotal}}</li>
            <li><a ng-click="deselectAll()" class="navbar-link">Deselect All</a></li>
            <li><a ng-click="selectAll()" class="navbar-link">Select All</a></li>
            <li>
                <a ng-click="help()" ><span class="glyphicon glyphicon-question-sign"></span></a>
                <span ng-transclude></span>
            </li>
        </ul>
    </div>
</div>