@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import 'colors';

.lightbox {

  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: lightyellow;
  @media (max-width: $screen-sm-min) {
    top: 0;
  }
  
  .container {
    //background-color: lightblue;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  .img-container {
    @include user-select(none);

    background-color: black;
    position: absolute;
    left:15px;
    right: 225px;
    top: 30px;
    bottom: 30px;
    overflow: hidden;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      @include border-left-radius(5px);
      @include border-right-radius(5px);
    }

    @media (max-width: $screen-sm-min) {
      right: 0;
      left: 0;
      bottom: 0;
      top: 0px;
    }

    img {
      height: 100%;
    }
  }
  .details {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 190px;
    //background-color: lightcoral;
    .title {
      text-align: center;
      color: $quaternaryColor;
      font-size: 1.6rem;
      //font-weight: bold;
      margin-bottom: 15px;
    }
    label {
      color: $quinaryColor;
      margin: 0;
    }
    p {
      margin: 0;
    }
    @media (max-width: $screen-sm-min) {
      background: white;
      top: initial;
      bottom: 0;
      right: 0;
      padding: 10px;
      opacity: 0.7;
    }
  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 225px;
    font-size: 60px;
    margin-top: -75px;
    padding: 0px;
    color: white;
    .left, .right {
      cursor: pointer;
      opacity: 0.7;
      width: 56px;
      height: 150px;
      &:hover {
        opacity: 0.9;
      }
      &.disabled {
        cursor: default;
        opacity: 0.3;
      }
    }
    .left {
      float: left;
      background: url(../images/lightbox_arrows.png) no-repeat 20px;
    }
    .right {
      float: right;
      background: url(../images/lightbox_arrows.png) no-repeat -22px;
    }
    @media (max-width: $screen-sm-min) {
      left: 0;
      right: 0;
      .left {
      }
    }
  }
}