@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import 'colors';

.lightbox {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: lightyellow;
  
  .container {
    //background-color: lightblue;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  .img-container {
    background-color: black;
    @include border-left-radius(5px);
    @include border-right-radius(5px);
    position: absolute;
    left:15px;
    right: 225px;
    top: 30px;
    bottom: 30px;
    overflow: hidden;
    text-align: center;

    img {
      height: 100%;
    }
  }
  .details {
    position: absolute;
    top: 30px;
    right: 15px;
    width: 190px;
    //background-color: lightcoral;
    .title {
      text-align: center;
      color: $quaternaryColor;
      font-size: 1.6rem;
      //font-weight: bold;
      margin-bottom: 15px;
    }
    label {
      color: $quinaryColor;
      margin: 0;
    }
    p {
      margin: 0;
    }

  }

  .arrows {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 225px;
    font-size: 60px;
    margin-top: -30px;
    padding: 0 30px;
    color: white;
    .left, .right {
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 0.8;
      }
      &.disabled {
        cursor: default;
        opacity: 0.2;
      }
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }

}