$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

body {
  overflow-y: scroll;
}

.auth {
  padding-top: 70px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
//.header,
//.marketing,
//.footer {
//    padding-left: 15px;
//    padding-right: 15px;
//}


/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Fixes for bootstrap */
.nyx-webapp {

  .header {
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(255,255,255,0.85);

    @media (max-width: $screen-sm-min) {
      background-color: rgba(255, 235, 255,0.85);
    }


    .logo {
      background-color: #b71d63;
      border: 1px solid #900a47;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  ul.nyx-reset {
    padding-left: 0;
  }

  .modal {
    overflow-y: hidden;
    .input-group {
      width: 100%;
      margin-bottom: 10px;
      .input-group-addon.glyphicon {
        position: static;
      }
    }
    .modal-footer {
      text-align: center;
    }
  }
  &.modal-open {
    overflow: auto;
  }

  .info-debug {
    margin: 10px 0 0 0;
    .ok {
      color: #4cae4c;
    }
    .error {
      color: darkred;
    }
    .pending {
      color: grey;
    }
  }


  .css-form {
    input.ng-invalid.ng-dirty {
      background-color: #FA787E;
    }

    input.ng-valid.ng-dirty {
      background-color: #78FA89;
    }
  }

  #sign-in-modal {
    &.login {
      input[type=password], input[type=email] {
        &.ng-valid, &.ng-invalid {
          background: none;
        }
      }
    }
  }

  // Loader:
  .page-loading {
    background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
    height: 100px;
  }
  @media (max-width: $screen-sm-min) {
    .affix {
      position: static;
    }
  }
  @media (min-width: $screen-sm-min) {
    .page-loading {
      height: 400px;
    }
  }

}
