$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap';

@import 'colors';

body {
  overflow-y: scroll;
}

.auth {
  padding-top: 70px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}


.nyx-webapp {

  .header {
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(255,255,255,0.85);

    .logo {
      background-color: #b71d63;
      border: 1px solid #900a47;
      padding: 10px;
      margin-right: -15px;
      float: none;
    }

    @media (max-width: $screen-sm-min) {
      background-color: rgba(255, 235, 255,0.85);
      margin-right: 0px;

      .logo {
        background: none;
        border: none;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  ul.nyx-reset {
    padding-left: 0;
  }

  .modal {
    overflow-y: hidden;
    .input-group {
      width: 100%;
      margin-bottom: 10px;
      .input-group-addon.glyphicon {
        position: static;
      }
    }
    .modal-footer {
      text-align: center;
    }
  }
  &.modal-open {
    overflow-y: scroll;
  }

  .info-debug {
    margin: 10px 0 0 0;
    .ok {
      color: #4cae4c;
    }
    .error {
      color: darkred;
    }
    .pending {
      color: grey;
    }
  }


  .css-form {
    input.ng-invalid.ng-dirty {
      background-color: #FA787E;
    }

    input.ng-valid.ng-dirty {
      background-color: #78FA89;
    }
  }

  #sign-in-modal {
    &.login {
      input[type=password], input[type=email] {
        &.ng-valid, &.ng-invalid {
          background: none;
        }
      }
    }
  }

  // Loader:
  .page-loading {
    background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
    height: 100px;
  }
  @media (max-width: $screen-sm-min) {
    .affix {
      position: static;
    }
  }
  @media (min-width: $screen-sm-min) {
    .page-loading {
      height: 400px;
    }
  }

  .squared {
    background-color: #bbb;
    color: white;
    padding: 1px 6px;
    @include border-top-radius(3px);
    @include border-bottom-radius(3px);
  }

  .nowrap {
    white-space: nowrap;
  }

  // to be used for Lightbox
  &.page-modal {
    overflow: hidden !important;
    .view-container {
      visibility: hidden;
    }
  }
}

.primaryColor {
  color: $primaryColor;
}
.cap {
  text-transform: capitalize;
}

.img-sample-bg {
  background: url('../images/stackedPhotos.png') no-repeat;
}
.img-sample {
  width: 197px;
  height: 143px;
  padding: 10px 10px 12px 1px;
}

.sub-header {
  font-weight: bold;
  margin-bottom: 25px;
}
/* Social buttons */
.importButtons {
  .btn {
    min-width: 90px;
    height: 90px;
    color: #000;
    padding-top: 50px;
    margin-right: 15px;
    font-size: 12px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    img {
      display: block;
      margin: auto;
    }
    &:hover {
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      -moz-box-shadow:    0 0 8px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }
  }

  .btn-gmail {
    //border-color: $gmailColor;
    background: url('../images/sprite_mail.png') 5px 10px #fff;
    &:hover {
      background: url('../images/sprite_mail.png') 5px 10px rgba(255, 255, 255, 0.7);
    }
    &:active {
      //background: #DD4B39;
    }
  }
  .btn-yahoo {
    //border-color: $ymailColor;
    background: url('../images/sprite_mail.png') -70px 10px #fff;
    &:hover {
      background: url('../images/sprite_mail.png') -70px 10px rgba(255, 255, 255, 0.7);
    }
    &:active {
      //background: #731A8B;
    }
  }
  .btn-fb {
    //border-color: $fbColor;
    background: url('../images/sprite_mail.png') -144px 10px #fff;
    &:hover {
      background: url('../images/sprite_mail.png') -144px 10px rgba(255, 255, 255, 0.7);
    }
    &:active {
      //background: #3B5998;
    }
  }
  .btn-others {
    //border-color: $othersColor;
    background: url('../images/sprite_mail.png') -221px 10px #fff;
    &:hover {
      background: url('../images/sprite_mail.png') -221px 10px rgba(255, 255, 255, 0.7);
    }
    &:active {
      //background: #c3ad82;
    }
  }
}