@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';

@import 'colors';

.header-title {
  color: $primaryColor;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial;
  margin-bottom: 30px;
}

.kb-photo-gallery {

  .gallery-item {
    .item-wrapper {

      @include border-top-radius(5px);
      @include border-bottom-radius(5px);

      position: relative;
      border: 1px #ccc solid;
      overflow: hidden;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;

      .item-cover {
        height: 152px;
        overflow: hidden;
        margin-bottom: 2px;
        cursor: pointer;

        img {
          max-width: 200%;
          min-width: 100%;
        }
      }
      .caption {
        display: block;
        margin: 6px 45px 3px 10px;
        color: $primaryColor;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 26px;
      }
      .item-date {
        color: #919baa;
        font-style: italic;
        margin: 0 10px 6px 10px;
        font-size: 1.1rem;
        font-family: Arial;
      }
    }

    .nx-selected-icon {
      display: none;
    }
    &.selected {
      .nx-selected-icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
        .glyphicon {
          margin-top: 60px;
          color: white;
          font-size: 3.0rem;
        }
      }
    }

  }

  nx-cluster-item {

    .gallery-cluster-item {
    }
    
    .item-wrapper {


      .item-content {
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
        overflow: hidden;
      }

      .total {
        float: right;
        margin-top: 10px;
        width: 42px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
        background-color: $primaryColor;
        @include border-left-radius(15px);
      }
      .item-date {
        margin-right: 45px;
      }
    }


    .item-thumbs {
      overflow: hidden;
      margin-bottom: 0;

      li:first-child .img-wrapper {
        margin-left: -15px;
      }
      li:last-child .img-wrapper {
        margin-right: -15px;
      }

      li {
        display: block;
        .img-wrapper {
          overflow: hidden;
          height: 44px;
          cursor: pointer;
          @media (max-width: $screen-sm-min) {
            height: 80px;
          }
          margin: 0 -14px;
          img {
            max-width: 250%;
            min-width: 100%;
          }

          &.empty {
            background: url(../images/thumb-empty.jpg) no-repeat;
            background-size: 100% 100%;
            cursor: default;
            /*border: 1px #e3e6ec solid;*/
          }
        }
      }
    }
  }

}