@import 'bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';

@import 'colors';

.header-title {
  color: $primaryColor;
  text-align: center;
  font-size: 1.8rem;
  font-family: Arial;
  margin-bottom: 30px;
}

.kb-photo-gallery {

  .gallery-item {
    .item-wrapper {

      @include border-top-radius(5px);
      @include border-bottom-radius(5px);

      border: 1px #ccc solid;
      overflow: hidden;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 20px;
      background-color: white;
      transition: all 0.2s ease-in-out;

      .item-cover {
        height: 200px;
        overflow: hidden;
        margin-bottom: 2px;

        img {
          max-width: 200%;
          min-width: 100%;
        }
      }
      .caption {
        margin: 9px 45px 9px 10px;
        color: $primaryColor;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .item-date {
        color: #919baa;
        font-style: italic;
        margin: 0 45px 10px 10px;
        font-size: 1.1rem;
        font-family: Arial;
      }
    }

  }

  cluster-item {

    .gallery-cluster-item {
    }
    
    .item-wrapper {


      .item-content {
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
        overflow: hidden;
      }

      .total {
        float: right;
        margin-top: 4px;
        width: 42px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: white;
        background-color: $primaryColor;
        @include border-left-radius(15px);
      }
    }


    .item-thumbs {
      overflow: hidden;

      li:first-child .img-wrapper {
        margin-left: -15px;
      }
      li:last-child .img-wrapper {
        margin-right: -15px;
      }

      li {
        display: block;
        .img-wrapper {
          overflow: hidden;
          height: 65px;
          margin: 0 -14px;
          img {
            max-width: 250%;
            min-width: 100%;
          }

          &.empty {
            background: url(../images/thumb-empty.jpg) no-repeat;
            background-size: 100% 100%;
            /*border: 1px #e3e6ec solid;*/
          }
        }
      }
    }
  }

}