.kb-photo-gallery {

  ul {

    li {
      display: inline-block;

      img.cover {
        width: 100px;
        height: 100px;
      }
    }

  }

  cluster-item {
    img {
      height: 200px;
    }
  }

}