<nx-gallery>

    <nx-friend ng-repeat="friend in items"
               data-name="friend.name"
               data-url="friend.picture"
               data-is-invited="friend.isInvited"
               data-is-kooboodle="friend.isKooboodle">

        <div class="user-info">
            <div class="is-kb-user">
                <span class="{{friend.isKooboodle ? 'kb-user' : 'non-kb-user'}}"></span>
                {{friend.isKooboodle ? 'Already' : 'Not yet'}} on Kooboodle
            </div>
            <div class="tag"><span class="tag-label">{{friend.tags.length || 0}}</span><span class="glyphicon glyphicon-play"></span> Total photo tags</div>

            <nx-thumblist data-items="friend.tags" data-shown="4"></nx-thumblist>

        </div>

        <div class="remind-icon" ng-if="friend.isInvited"></div>
    </nx-friend>
</nx-gallery>

<div ng-if="loading" class="page-loading"></div>

<p>{{error}}</p>