<div class="well">
    <h5 class="primaryColor cap">{{pageTitle}}</h5>

    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9 contentCopy">
            <p>Add friends to get photos they have taken of you plus shared events you have attended together.</p>
            <p>Click on an icon to import contacts. <strong>We will NOT invite anyone from your contact list automatically.</strong>
                Importing contacts make it easy to invite friends. You can also discover friends who are already on Kooboodle.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 img-sample-bg">
            <img src="http://ppcdn.500px.org/57161416/10bdc743b198c1e8c6d93b8fc6c0b213d868927d/2048.jpg" width="224" class="img-sample" />
        </div>
    </div>

    <div class="importButtons">
        <button class="btn btn-gmail" ng-click="" disabledd="{{scope.isDisabled}}">Gmail</button>
        <button class="btn btn-yahoo" ng-click="" disabledd="{{scope.isDisabled}}">Yahoo</button>
        <button class="btn btn-fb" ng-click="fbLogin()">Facebook</button>
        <button class="btn btn-others" ng-click="">Others</button>
        <button class="btn btn-primary" ng-click="fbMe()">Facebook Me</button>
    </div>
    {{welcomeMsg}}

</div>