<nx-gallery>

    <nx-trade ng-repeat="trade in items" data-trade="trade">
        <nx-cluster data-cluster="trade" data-total-label="'Total photos in the album:'" ng-if="trade.items.length > 0"></nx-cluster>
        <nx-tradee ng-repeat="tradee in trade.matches"
                   data-name="tradee.matchFullname"
                   data-uid="tradee.matchUid"
                   data-given="tradee.itemsShared.length"
                   data-received="tradee.itemsReceived.length"
                   data-total="trade.totalCount"
                   data-cluster="trade.dashedTitle">
            <nx-thumbs-preview data-items="tradee.itemsReceived" data-total="tradee.itemsReceived.length" data-shown="3" class="hidden-sm hidden-xs"></nx-thumbs-preview>
        </nx-tradee>
    </nx-trade>
</nx-gallery>

<div ng-if="loading" class="page-loading"></div>

<p>{{error}}</p>