<div class="lightbox" ng-show="isVisible">

    <div class="container">
        <div class="img-container">
            <img ng-src="{{currentItem.pathBase}}" />
        </div>
        <div class="details">
            <!--<div class="title">Photo Details</div>-->

            <p><label>Date:</label> {{currentItem.dateTaken * 1000 | date: 'longDate'}}</p>
            <p><label>Title:</label> {{currentItem.title || 'Untitled'}}</p>
            <br />

            <p><label>Album:</label> {{cluster.name}} <span ng-iv="cluster.count">({{cluster.count}})</span></p>
            <p><label>Added:</label> {{currentItem.dateUploaded * 1000 | date: 'longDate'}}</p>
            <p class="text-overflow"><label>File:</label> {{currentItem.filenameOriginal}}</p>
            <br />

            <p><label>Showing:</label> {{currentIndex + 1}} of {{items.length}}</p>
        </div>
        <div class="arrows">
            <span class="left glyphicon glyphicon-chevron-left {{isPrevActive ? '' : 'disabled'}}" ng-click="prev()"></span>
            <span class="right glyphicon glyphicon-chevron-right {{isNextActive ? '' : 'disabled'}}" ng-click="next()"></span>
        </div>
    </div>

</div>
