<div class="lightbox" ng-show="isVisible">

    <div class="container">
        <div class="img-container">
            <img ng-src="{{currentItem.pathBase}}" />
        </div>
        <div class="details">
            <p class="title">Photo Details</p>

            <p>Date: {{currentItem.dateTaken * 1000 | date: 'longDate'}}</p>
            <p>Title: {{currentItem.title || 'Untitled'}}</p>

            <p>Album: {{cluster.name}} <span ng-iv="cluster.count">({{cluster.count}})</span></p>
            <p>Added: {{currentItem.dateUploaded * 1000 | date: 'longDate'}}</p>
            <p>File: {{currentItem.filenameOriginal}}</p>

            <button ng-click="hide()">Close</button>

            <p>currentIndex = {{currentIndex}}</p>
            <p>total items = {{items.length}}</p>
        </div>
        <div class="arrows">
            <span class="left glyphicon glyphicon-chevron-left {{isPrevActive ? '' : 'disabled'}}" ng-click="prev()"></span>
            <span class="right glyphicon glyphicon-chevron-right {{isNextActive ? '' : 'disabled'}}" ng-click="next()"></span>
        </div>
    </div>

</div>
