<div class="page-calendar">

    <nx-arrow-nav data-items="years" data-init-index="0" data-on-next="changeYear" data-on-prev="changeYear">Arrows</nx-arrow-nav>

    <nx-gallery>
        <nx-cluster ng-repeat="cluster in items"
                    data-cluster="cluster"
                    on-click="selectItem"
                    on-dbl-click="gotoGallery"
                    ng-if="cluster.items.length > 0"
                ></nx-cluster>
    </nx-gallery>

    <div ng-if="loading" class="page-loading"></div>

    <p>{{error}}</p>

</div>