

<div class="menu auth-main-menu row"  ng-controller="Nyx.Menu.AuthMain.Ctrl">

    <accordion close-others="oneAtATime">

        <accordion-group ng-repeat="menu in menus" is-open="isOpened($index, menu.code)" xng-click="setActiveE($event, menu.code, menu.items[0].code);"
                         class="group-items group-{{$index}} {{active.menu == menu.code ? 'active  active-item-' + active.itemNumber : ''}}">
            <accordion-heading>
                <span class="glyphicon {{menu.iconClass}}"></span><span class="title-text">{{menu.title}}</span>
            </accordion-heading>
            <ul class="sub-menu">
                <li ng-repeat="item in menu.items" class="{{active.menu == menu.code && active.item == item.code ? 'active' : ''}}">
                    <span ng-if="$index == 0" class="glyphicon glyphicon-chevron-right"></span>
                    <a ng-click="setActiveE($event, menu.code, item.code);">{{item.name}}</a>
                </li>
            </ul>
        </accordion-group>

    </accordion>

</div>