<div class="nx-tradee-item col-sm-6 col-md-8 col-lg-9">
    <div class="content row">
        <div class="col-md-7">
            <p class="title">{{name}}</p>
            <p ng-if="given" class="">
                Given: <span class="squared">{{given}}</span> |
                Received: <span class="squared">{{received || 0}}</span>
            </p>
            <p ng-if="!given" class="nowrap">
                You and {{name}} have photos each other may want
            </p>
            <p class="nowrap">
                <a ng-if="given && received" href="#/auth/trade/{{cluster}}/{{uid}}/received" type="button" class="btn btn-danger">View</a>
                <a ng-if="!given" href="#/auth/trade/{{cluster}}/{{uid}}" type="button" class="btn btn-primary">Trade</a>
                <button ng-if="!received" type="button" class="btn btn-warning">Remind</button>
                <a ng-if="given && given < total" href="#/auth/trade/{{cluster}}/{{uid}}" type="button" class="btn btn-default">Trade More Photos</a>
                <button ng-if="!given" type="button" class="btn btn-link">Later</button>
            </p>
        </div>
        <div ng-transclude class="col-md-5"></div>
    </div>
</div>