<div class="gallery-item gallery-cluster-item col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail row">
        <div class="caption">Cluster {{title}}</div>
        <div class="item-content">
            <div class="item-date-range">
                {{dateRange.start}} - {{dateRange.end}}
            </div>
            <div class="item-cover img-wrapper">
                <img class="" src="{{url}}" ng-click="click(title)" />
            </div>
            <ul class="item-thumbs nyx-reset">
                <li class="col-xs-3 " ng-repeat="item in items">
                    <div class="img-wrapper">
                        <img class="" src="{{item.url}}" ng-if="item.url" />
                    </div>
                </li>
                <li class="col-xs-3  item-total">
                    <div class="img-wrapper">
                        {{totalCount}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
