<div class="gallery-item gallery-item-simple col-sm-4 col-md-3 col-lg-2 {{item.isSelected ? 'selected' : ''}} {{item.alreadyShared ? 'shared' : ''}} ">
    <div class="item-wrapper row">
        <div class="item-cover img-wrapper">
            <img ng-src="{{url}}" ng-click="click(item)" ng-dblclick="dblclick(item.id || item.pid)" />
        </div>
        <div class="caption">{{title}}</div>
        <div class="item-date">
            {{date * 1000 | date: 'medium'}}
        </div>
        <button class="nx-{{item.alreadyShared ? 'shared' : 'selected'}}-icon" ng-disabled="item.alreadyShared" ng-click="click(item)" ng-dblclick="dblclick(item.id || item.pid)">
            <span class="glyphicon glyphicon-{{item.alreadyShared ? 'send' : 'ok-sign'}}"></span>
        </button>
    </div>
</div>
