<div ng-if="title" class="header-title">{{title}} ({{totalItems}})</div>

<nx-gallery>
    <!-- removed orderBy - it should be a function with implementation per page.
    <nx-photo ng-repeat="item in items | orderBy:'alreadyShared'"-->

    <nx-photo ng-repeat="item in items"
                data-item="item"
                data-title="item.title || item.filenameOriginal"
                data-url="item.url"
                data-date="item.dateTaken"
                on-click="selectItem"
                on-dbl-click="openLightbox"
    ></nx-photo>
</nx-gallery>

<div ng-if="loading" class="page-loading"></div>



