<div class="gallery-item gallery-cluster-item col-sm-6 col-md-4 col-lg-3">
    <div class="item-wrapper row">
        <div class="item-cover img-wrapper">
            <img class="" ng-src="{{url}}" ng-click="click(dashedTitle)" />
        </div>
        <ul class="item-thumbs nyx-reset">
            <li class="col-xs-3 " ng-repeat="item in items" ng-click="preview(item)">
                <div class="img-wrapper {{!item.url ? 'empty' : ''}}">
                    <img class="" ng-src="{{item.url}}" ng-if="item.url" />
                </div>
            </li>
        </ul>
        <div class="total">{{totalCount}}</div>
        <div class="caption">{{title}}</div>
        <div class="item-date">
            {{dateFrom | date: 'MMM d, y'}} - {{dateTo | date: 'MMM d, y'}}
        </div>
    </div>
</div>
