<div class="gallery-item gallery-item-simple col-sm-4 col-md-3 col-lg-2 {{item.isSelected ? 'selected' : ''}}">
    <div class="item-wrapper row">
        <div class="item-cover img-wrapper">
            <img ng-src="{{url}}" ng-click="click(item)" ng-dblclick="dblclick(item.id)" />
        </div>
        <div class="caption">{{title}}</div>
        <div class="item-date">
            {{date * 1000 | date: 'medium'}}
        </div>
        <div class="nx-selected-icon" ng-click="click(item)" ng-dblclick="dblclick(item.id)" >
            <span class="glyphicon glyphicon-ok-sign"></span>
        </div>
    </div>
</div>
