<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="{{active == 'home' ? 'active' : '' }}"><a ng-href="#/home" ng-click="active='home'">Home</a></li>
        <li class="{{active == 'about' ? 'active' : '' }}"><a ng-href="#/about" ng-click="active='about'">About</a></li>
        <li class="{{active == 'contact' ? 'active' : '' }}"><a ng-href="#/contact" ng-click="active='contact'">Contact</a></li>
    </ul>
    <h3 class="text-muted">From the makers of <a href="//clickfree.com"><img src="images/logo-clickfree.png"></a></h3>
</div>