<div id="share-modal">
    <div class="modal-header">
        <h3>Who do you want to share with?</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <input type="text" class="form-control" ng-model="contacts.inputStr" />
        </div>

        <br />
        <div ng-show="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

        <div class="container-fluid">
            <div class="row">
                <div class="pull-right">
                    <button type="button" class="btn btn-link" ng-click="close()">Cancel</button>
                    <nx-ajax-button data-btn-class="'btn btn-primary'" data-on-click="send()" data-control="sendBtnControl">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </nx-ajax-button>
                </div>
            </div>
        </div>
        <p>
            You selected {{ids.length}} items to share.
        </p>
        <!--p>
            {{ids.join(', ')}}
            {{contacts.inputStr}} <br />
            {{contacts.items.join(', ')}}
        </p-->
    </div>
</div>