<div id="share-modal">
    <div class="modal-header">
        <h3>Who do you want to share with?</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <input type="text" class="form-control" ng-model="contacts.inputStr" />
        </div>

        <br />

        <div class="container-fluid">
            <div class="row">
                <div class="pull-right">
                    <button type="button" class="btn btn-link" ng-click="close()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="send()">Send</button>
                </div>
            </div>
        </div>
        <p>
            You selected {{ids.length}} items to share.
        </p>
        <!--p>
            {{ids.join(', ')}}
            {{contacts.inputStr}} <br />
            {{contacts.items.join(', ')}}
        </p-->
    </div>
</div>