<div ng-include="'views/header_nav.html'" ng-init="active='home'"></div>

<div class="jumbotron">
  <h1>Kooboodle</h1>
  <p class="lead">
    <img src="images/logo-kooboodle.png" alt="Kooboodle Logo"><br>
    Photos You Care About
  </p>
  <p><a class="btn btn-lg btn-success" ng-click="openSignInModal()">Sign In!</a></p>
</div>

<div class="row marketing">

  <h4>Easily Collect & Exchange Photos</h4>
  <p>
      You can easily gather the thousands of photos on your computer and on your mobile phone into a single unified private collection.
      Kooboodle safely enables the private exchange of hundreds of photos you want between you and your friends.
  </p>

  <h4>Secure and Private</h4>
  <p>
      Kooboodle safely stores your photos using bank level encryption.
      Only the people you select will have access to the photos you have granted permission to.
      The photos and comments are never searchable by public search engines.
  </p>

  <h4>Access Your Photos Anywhere</h4>
  <p>
      You can access your photos anywhere you have access to the internet.
      Kooboodle is available for Mac or Windows PCs and Apple or Android mobile devices.
  </p>

  <h4 class="test">SPA demo page modification Test 0318</h4>
  <p>
      Looking good! SourceTree to Git test 07
  </p>
</div>

<div class="footer">
  <p>&copy; Copyright 2014 Clickfree & Storage Appliance Corporation. All Rights Reserved</p>
</div>
