<div id="sign-up-modal">
    <div class="modal-header">
        <h3>Sign up to Kooboodle</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group input-username">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                        <input type="text" class="form-control" placeholder="Username" ng-model="user.name">
                    </div>
                    <div class="input-group input-email">
                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                        <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
                    </div>
                    <div class="input-group input-password">
                        <span class="input-group-addon glyphicon glyphicon-lock"></span>
                        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                    </div>
                    <button class="btn btn-success btn-block" ng-click="signUp()">Sign Up</button>
                    <div class="info-debug">
                        <p class="{{loginResult}}">{{loginMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary btn-block" ng-click="signUpFb()">
                        <span class="glyphicon glyphicon-globe"></span>
                        &nbsp; Sign Up with <strong>Facebook</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>